/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #2dd36f;
  --ion-color-primary-rgb: 45, 211, 111;

  --ion-background-color: rgb(2,0,36);
  --ion-background-color:linear-gradient(180deg, rgb(100 101 103) 20%, rgb(48,223,117)100%, rgb(79 87 42) 100%);

  --ion-item-background: var(--transparent) ; /* Example: white with 50% transparency */
  --ion-card-background: var(--black); /* Example: white with 50% transparency */

  --white: #ffffff;
  --black: #000000;
  --light-black: #575656;
  --gray: #707070;
  --light-gray: #e4e4e4;
  --gold: #d7a752;
  --red: #Dc3545;
  --purple: #621d8a;
  --light-purple: #9b6ab8;
  --light-green: #54B8AF;
  --green: #16A398;
  --light-blue: #b8e3e0;
  --yellow: #f1c40e;
  --transparent: rgba(255, 255, 255, 0);



 
  --ion-color-step-300: #b26178;

  --ion-color-step-500: var(--white);

  --ion-color-step-650: var(--white);


}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {

  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
/*     --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0; */

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    /*--ion-item-background: #000000;*/
    /*--ion-card-background: #1c1c1d;*/
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
 /*  --ion-background-color: #121212; */
 /*  --ion-background-color-rgb: 18,18,18; */

 /* --ion-background-color: rgb(2,0,36);
 /* --ion-background-color:linear-gradient(180deg, rgb(100 101 103) 20%, rgb(48,223,117)100%, rgb(79 87 42) 100%) ;

/*  --ion-background-color:  rgb(0,124,0);
    --ion-background-color:  linear-gradient(0deg, rgba(0,124,0,1) 0%, rgba(0,0,0,1) 100%); */

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
    --ion-border-color: #222222;

    --ion-toolbar-background: #1f1f1f;
    --ion-tab-bar-background: #1f1f1f;

   /*  --ion-item-background: rgba(255, 255, 255, 0); */
   /*  --ion-card-background: rgba(255, 255, 255, 0); */
  
  }
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

ion-datetime {
 background-color: var(--black);
}

