/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #018424;
  --ion-color-primary-rgb: 1, 132, 36;

  --ion-background-color: rgb(2,0,36);
  --ion-background-color:linear-gradient(180deg, rgb(100 101 103) 24%, rgb(1, 132, 36)100%, rgb(79 87 42) 100%);
  --ion-border-color: var(--gray);

  --ion-item-background: var(--transparent) ; /* Example: white with 50% transparency */
  --ion-card-background: var(--black); /* Example: white with 50% transparency */

  --white: #ffffff;
  --light-transparent: #ffffff1c;
  --black: #000000;
  --light-black: #3a3838;
  --gray: #707070;
  --light-gray: #e4e4e4;
  --gold: #d7a752;
  --red: #d1041f;
  --purple: #621d8a;
  --light-purple: #9b6ab8;
  --light-green: #54B8AF;
  --green: #16A398;
  --light-blue: #b8e3e0;
  --yellow: #f1c40e;
  --rose: #d88ca1;
  --transparent: rgba(255, 255, 255, 0);
  --ion-color-step-300: var(--rose);
  --ion-color-step-500: var(--white);
  --ion-color-step-650: var(--white);
  --ion-text-color: var(--white) !important;
  --ion-text-color-rgb: 255,255,255;
  --green-flour: #43e66f;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {

  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
/*     --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0; */

    /*--ion-item-background: #000000;*/
    /*--ion-card-background: #1c1c1d;*/
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
 /*  --ion-background-color: #121212; */
 /*  --ion-background-color-rgb: 18,18,18; */

 /* --ion-background-color: rgb(2,0,36);
 /* --ion-background-color:linear-gradient(180deg, rgb(100 101 103) 20%, rgb(48,223,117)100%, rgb(79 87 42) 100%) ;

/*  --ion-background-color:  rgb(0,124,0);
    --ion-background-color:  linear-gradient(0deg, rgba(0,124,0,1) 0%, rgba(0,0,0,1) 100%); */

    --ion-border-color: var(--transparent);
    --ion-toolbar-background: var(--black);
    --ion-tab-bar-background: var(--black);

   /*  --ion-item-background: rgba(255, 255, 255, 0); */
   /*  --ion-card-background: rgba(255, 255, 255, 0); */
  
  }
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}

ion-header{
  --ion-background-color: var(--black)
}

ion-tabs,
ion-tab-button,
ion-toolbar{
  --background: var(--black)
}

ion-segment-button::part(indicator-background) {
  background: var(--green-flour);
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: var(--white);
}

.segment-button-checked.md::part(native) {
  color: var(--green-flour);
}

ion-segment-button.md::part(indicator-background) {
  height: 1px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: var(--green-flour);
}

.segment-button-checked.ios::part(native) {
  color: var(--white);
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 20px;
}

ion-tab-button {
  --color-selected: var(--green-flour);
}

ion-button {
  --color: var(--white);
  --background: var(--green-flour);
  --border-radius: 10px;
  text-transform: none !important;
}

.btn-secondary {
  --background: var(--black);
  --color: var(--green-flour);
  --background-activated: var(--light-gray);
}

.btn-unsubscribe {
  --background: var(--red);
  --background-activated: var(--light-gray);
}

.btn-unsubscribe-clear {
  --background: var(--transparent);
  --background-activated: var(--transparent);
}

ion-datetime {
 background-color: var(--black);
}

ion-textarea.custom.ios .textarea-bottom .helper-text,
ion-textarea.custom.ios .textarea-bottom .counter,
ion-textarea.custom.md .textarea-bottom .helper-text,
ion-textarea.custom.md .textarea-bottom .counter {
  color: var(--white);
}

ion-chip {
  --background: var(--light-transparent);
  color: var(--white);
  padding: 8px !important;
  border-radius: 15px !important;
  font-size: 10px;
  margin-left: 0px;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.inline-flex{
display: inline-flex;
}

.container-card-title,
.container-card-subtitle {
  display: flex;
  align-items: center;
}

.search-info__icon {
  font-size: 20px;
}

.chip_icon {
  margin-left: 3px;
  color: var(--dark);
}

p {
  font-size: 14px;
}

.custom-toast {
  --background: var(--light-black);
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: var(--white) !important;
  --height: 100px;
  font-size: 18px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Set the height to take the full viewport height */
}


/* checkbox radius color md */
.my-custom-interface
  .select-interface-option[aria-checked="true"].sc-ion-alert-md
  .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--green-flour) !important;
}

/* checkbox radius color md */
.my-custom-interface
  .select-interface-option[aria-checked="false"].sc-ion-alert-md
  .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--white) !important;
}

/* checkbox color md */
.my-custom-interface
  .select-interface-option[aria-checked="true"].sc-ion-alert-md
  .alert-radio-inner.sc-ion-alert-md {
  background-color: var(--green-flour) !important;
}

/* Select alert bg color */
.my-custom-interface .alert-wrapper {
  background: var(--black);
}

/* Alert: Select opactiy */
.my-custom-interface .sc-ion-alert-md {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.5);
}

/* option name label color */
.my-custom-interface
  .select-interface-option[aria-checked="true"]
  .alert-radio-label {
  color: var(--green-flour) !important;
}

/* checkbox color ios */
.my-custom-interface
  .select-interface-option[aria-checked="true"]
  .sc-ion-alert-ios
  .alert-radio-inner.sc-ion-alert-ios {
  border-color: var(--green-flour) !important;
}

/* bottons color ios */
.my-custom-interface .alert-button.sc-ion-alert-ios {
  color: var(--white) !important;
}

/* bottons color md */
.my-custom-interface .alert-button.sc-ion-alert-md {
  color: var(--white) !important;
}

/* Alert Interface: set color for alert options (single selection) */
.my-custom-interface .select-interface-option .alert-radio-label {
  color: var(--white)  !important;
}

/* Alert Interface: title color */
.my-custom-interface .alert-title.sc-ion-alert-md {
  color: var(--white);
}

.ml-5{
  margin-left: 5px;
}

.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}

.mt-5{
  margin-top: 5px;
}

.mt-8{
  margin-top: 8px;
}

.mt-10{
  margin-top: 10px;
}

.mt-15{
  margin-top: 15px;
}
.mb-5{
  margin-bottom: 5px;
}
.pv-10{
  margin-bottom: 10px;
  margin-top: 10px;
}
.text-nowrap {
  white-space: nowrap;
}

.chip-danger {
  --background: var(--red) !important;
  --color: var(--red) !important;
}

.chip-success {
  --background: var(--green-flour) !important;
  color: var(--black) !important;
}